<div class="row">
    <div class="col-md-12">
        <div class="row">
            <img style="margin: auto; max-width: 15%;" src="../Assets/bits_and_bytes2.png">
        </div>
        <div class="row" style="height: 10px;"></div>
        <div class="row">
            <div class="col">
                <img style="float: right; max-width: 20%;" src="../Assets/apire_it_logo2.png">
            </div>
            <div class="col">
                <img style="float: left; max-width: 20%;" src="../Assets/eastern_logo2.png">
            </div>
        </div>
    </div>
</div>