<div class="row">

    <div class="col-md-2">
        <img src="../Assets/Bits_and_Bytes_Logo.png" alt="Bits and Bytes Logo" height = "100px">
    </div>

    <div class ="col-md-10">
        <nav class="navbar navbar-default">

            <div class="container-fluid">

                <ul class="nav ">

                    <li class="active nav-item"><a class="nav-link active" href="../index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="../StaticPages/Announcements.html">Announcements</a></li>
                    <li class="nav-item"><a class="nav-link active" href="../StaticPages/upload_page.html">Uploads</a></li>

                </ul>

                <ul class="nav navbar-right">

                    <li><input id="username" name="username" placeholder="Username" type="text"></li>
                    <li><input id="password" name="password" placeholder="Password" type="password"></li>
                    <li><button class="btn navbar-btn">Login</button></li>
                    <li class="nav-item"><a class="nav-link active" href="/StaticPages/sign-up.html">Sign Up</a></li>

                </ul>
            </div>
        </nav>
    </div>
</div>
