<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 nav-border no-padding">
    <!-- Bits & Bytes logo. -->
    <img class="bb-logo-img" src="../Assets/Bits_and_Bytes_Logo2.png" alt="Bits and Bytes Logo">

    <!-- Link list. -->
    <ul class="navbar-nav mr-auto nav-links">
        <!-- Homepage link. -->
        <li class="nav-item">
            <a class="nav-link nav-link-text text-dark" href="../index.html">Home</a>
        </li>

        <!-- Announcements page link. -->
        <li class="nav-item">
            <a class="nav-link nav-link-text text-dark" href="../StaticPages/Announcements.html">Announcements</a>
        </li>

        <!-- Uploads page link. -->
        <li class="nav-item">
            <a class="nav-link nav-link-text text-dark" href="../StaticPages/upload_page.html">Uploads</a>
        </li>
    </ul>

    <!-- Login form. -->
    <form class="form-inline mt-2 mt-md-0 nav-login-form">
        <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username">
        <input class="form-control mr-sm-2" type="text" placeholder="Password" aria-label="Password">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Login</button>
    </form>

    <!-- Signup button. -->
    <button class="btn btn-dark my-2 my-sm-0 nav-register-btn" type="submit">Register</button>
</nav>